@page "/about"


<PageTitle>ABOUT</PageTitle>

<h1>ABOUT US</h1>

<p>We transport everyday citizens.</p>

<p>Contact us on email: <a href='mailto:dato1700@student.miun.se'>info@transportit.com</a> and we will respond within two business days!</p>

<p>Adress:<br /><strong>
    Mossgatan 49<br />
    247 85<br />
    Karlstad
    </strong>
</p>


<style>
    .about {
        background-color: lightgray;
    }
</style>