@page "/"

<PageTitle>START</PageTitle>

<h1>WELCOME TO MIGYSTON!</h1>

<p>Buy Swedish products and get it delievered to China fast and easy!</p>

<p>See our products in PRODUCTS and place order at ORDER!</p>

<style>
    .start {
        background-color: lightgray;
    }

</style>

