@page "/fares"


<PageTitle>FARES</PageTitle>

<h1>FARES</h1>

<p>For buying tickets, please go to the purchase page!</p>

<List />



<style>
    .products {
        background-color: lightgray;
    }
</style>