<footer class="text-center footer text-muted">
    <div class="container">
        &copy; Damjan Tosic 2023 - <a href='mailto:dato1700@student.miun.se'>Contact me!</a>
    </div>
</footer>

@code {

}
