<header>
    <div class="container top">
        <img src='/assets/MGG-logotype.jpg' class="img-fluid img" id="figure" />
        <div class="datetop"> Today's date is: @DateTime.Now.ToString("yyy/MM/dd") </div>
    </div>
</header>
