@page "/about"


<PageTitle>ABOUT</PageTitle>

<h1>ABOUT MIGYSTON</h1>

<p>We sell products between Sweden and China.</p>

<p>Contact us on email: <a href='mailto:dato1700@student.miun.se'>info@mggexpress.com</a> and we will respond with two business days!</p>

<p>Adress:<br /><strong>
    Knäredsgatan 49<br />
    247 85<br />
        Halmstad
    </strong>
</p>


<style>
    .about {
        background-color: lightgray;
    }
</style>