@page "/products"


<PageTitle>PRODUCTS</PageTitle>

<h1>PRODUCTS</h1>

<h2>Order any product below</h2>

<p>For ordering products, please go to ORDER page and fill in the form!</p>

<List />



<style>
    .products {
        background-color: darkgray;
    }
</style>